textarea{
    border: .1rem solid #aaa!important;
}


a:hover{
    color: #ffc107!important;
    text-decoration: none!important;
}

body{
    background-image: url(/assets/img/login_fondo.jpg);
}
 

.marginForm{
    margin-bottom: 1.25rem!important;
}

  